<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/style.css" />
    <title>Blogify</title>
  </head>
  <body>
    <div class="container admin_navbar">
      <div class="admin_name_logo">Blogify</div>
      <form action="/user/logout" method="post">
        <input class="logout_btn" type="submit" value="Logout" />
      </form>
    </div>
  </body>
</html>
