<%- include('./partials/admin_header') %>

<div class="container dashboard">
  <!-- if post collection is empty -->
  <div class="add_blog">
    <h1>Add Your First Blog</h1>
    <a href="/blog/add-new">Add+</a>
  </div>

  <!-- if any data in post collection -->
  <!-- <div></div> -->
</div>

<%- include('./partials/footer') %>
