<%- include('./partials/header') %>

<!-- main -->
<div class="container main">
  <h1 class="title">WELCOME TO BLOGIFY</h1>

  <div class="main__btn">
   <a class="auth__btn signup__btn" href="/signup">Sign Up</a>
   <a class="auth__btn login__btn" href="/login">Log In</a>
  </div>

  <img
    class="main__image"
    src="/img/coding-image.jpg"
    alt="a laptop with coding enviourment"
  />
</div>

<%- include('./partials/footer') %>
