<%- include('./partials/header') %>

<div class="container form">
  <h1 class="form__heading">Log In</h1>
  <form action="/user/login" method="POST" class="form__control">
    <label for="email" class="signup__email">Email</label>
    <input
      type="email"
      id="email"
      name="email"
      placeholder="Enter your email"
      required
    />

    <label for="password" class="signup__password">Password</label>
    <input
      type="password"
      id="password"
      name="password"
      placeholder="Enter your password"
      required
    />

    <button type="submit" class="login_submit_btn">Login</button>

    <p class="form__last__msg">If you don't have an account? <a class="form_redirect_link" href="/user/signup">Register</a></p>
  </form>
</div>

<%- include('./partials/footer') %>
