@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;600;700&display=swap");

body {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #292929;
}

.container {
  max-width: 982px;
  margin: 0 auto;
  padding: 0 10px;
}

/* main */


.main{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.title{
  text-align: center;
  color: rgb(201, 201, 201);
  font-size: 3rem;
}

.main__btn{
  display: flex;
  gap: 50px;
  margin-bottom: 40px;

}

.auth__btn{
  text-decoration: none;
  font-size: 1.25rem;
  color: white;
  padding: 4px 8px;
  border-radius: 5px;
}

.signup__btn{
  background-color: rgb(0, 104, 223);
}

.login__btn{
  background-color: rgb(30, 143, 30)
}

.main__image{
  max-width: 300px;
  filter: drop-shadow(0px 44px 34px rgba(147, 230, 126, 0.25));
  overflow: hidden;
  border-radius: 10px;
  
}

/* footer */
.footer{
  color: rgb(201, 201, 201);
  margin: 3rem;
  text-align: center;
}